@import "tailwindcss";

@theme {
  --primary-light: #e5f1ff;
  --main-color: #8cb7f5;
  --primary-blue: #0d6efd;
  --gray-100: #f7fafc;
  --gray-200: #eff2f4;
  --gray-300: #dee2e7;
  --gray-500: #8b96a5;
  --gray-600: #505050;
  --gray-dark: #1c1c1c;
  --color-orange: #f38332;
  --light-green: #55bdc3;
  --color-white: #ffffff;
  --color-pink: #ffe3e3;
  --color-red: #eb001b;
}

@layer base {
  body {
    @apply bg-[#f7fafc];
  }

  input {
    @apply border;
  }
}

@utility container {
  @apply w-full max-w-[1180px] mx-auto lg:px-8;
}

img {
  display: inline-block;
  vertical-align: middle;
}

button {
  @apply cursor-pointer;
}